/* Yovan Collins */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* -------------------------------------------------------------- */

@import url('https://fonts.googleapis.com/css2?family=Molle&family=Montserrat&display=swap');

:root{
	--yellow: #F6D64A;
	--teal: #55BCD5;
	--purple: #9B26B0;
	--blue: #499BD2;
	--light-gray: #EAEAEA;
	--dark-gray: #222222;
    --white: #FFFFFF;
    --black: #000000;
}

h1, h2, h3 {
    font-family: "Molle", serif;
}

h4, p, q, small, nav, button, form {
    font-family: "Montserrat", serif;
}

h1{
	font-size: 2rem;
}

h2{
	font-size: 1.7rem;
}

h3{
	font-size: 1.5rem;
}

h4{
	font-size: 1.3rem;
}

#skip{
	position: absolute;
	left: -10000px;
	top: auto;
	width: 1px;
	height: 1px;
	overflow: hidden;
}

#intro {
    background-color: var(--white);
}

#plan {
    background-color: var(--yellow);
}

#testimonials {
    background-color: var(--white);
}

#about {
    background-color: var(--blue);
}

#contact {
    background-color: var(--white);
}

footer {
    background-color: var(--light-gray);
}

footer a {
    text-decoration: none;
    color: var(--black);
}

.form-required {
    font-family: "Montserrat", serif;
    font-size: small;
}

form, #nums, #names, fieldset {
    display: grid;
}

#mySubmit {
    background-color: var(--purple);
    color: var(--white);
}

input, select {
    border-color: var(--purple);
}

select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: white;
    border: 2px solid purple;
    padding: 10px;
    border-radius: 4px;
    font-size: 16px;
    color: black;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20'%3E%3Cpath fill='purple' d='M5 7l5 5 5-5z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 12px;
    cursor: pointer;
    align-items: center;
}

select:after {
    justify-self: end;
}

input[type="radio"]{
    accent-color: var(--purple);
    width: 20px;
    height: 20px;
    transform: scale(2);
}

.required {
    color: var(--purple);
}

footer {
    display: grid;
}

#plan div {
    display: grid;
}

#plan div section {
    background-color: var(--teal);
    border: 3px solid var(--white);
}

#testimonials div {
    display: grid;
}

#testimonials div section {
    display: grid;
}

#about div {
    display: grid;
}

#img-grid {
    display: grid;
}


@media screen and (max-width: 649px){
    header{
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding-bottom: 40px;
        background: linear-gradient(to bottom, var(--teal), var(--white));
    }
    header a{
        grid-column-start: 1;
        grid-row: 1 / 1;
    }
    header h1 {
        grid-row: 2 / 2;
        grid-column: 1 / -1;
        font-size: 50px;
    }
    header p {
        grid-row: 3 / 3;
        grid-column: 1 / -1;
        font-size: 25px;
    }

    header h1, header p {
        margin-left: 20px;
    }

    header nav {
        margin-top: 20px;
    }

    nav div {
        background-color: var(--yellow);
    }

    .sr-only {
        position: absolute;
        width: 1px;
        height: 1px;
        padding: 0;
        margin: -1px;
        overflow: hidden;
        clip: rect(0, 0, 0, 0);
        white-space: nowrap;
        border: 0;
    }

    #intro p{
        justify-items: center;
        text-align: left;
        margin-left: 30px;
    }

    h2 {
        margin-left: 30px;
        font-size: 50px;
        padding-bottom: 15px;
    }

    #img-grid {
        padding-top: 15px;
        gap: 20px;
    }

    #img-grid picture {
        padding-bottom: 20px;
    }

    #img-grid picture img {
        width: 100%;
    }

    #plan > h3 {
        padding-top: 30px;
        font-size: 40px;
        margin-left: 20px;
        padding-bottom: 5px;
    }

    #plan div {
        grid-template-columns: 1fr;
        justify-items: center;
        text-align: center;
        gap: 20px;
    }

    #plan div section {
        width: 60%;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    #plan div section:last-of-type {
        margin-bottom: 20px;
    }

    #testimonials > h3 {
        padding-top: 30px;
        font-size: 50px;
        margin-left: 30px;
        padding-bottom: 5px;
    }

    #testimonials div section {
        grid-template-columns: 1fr;
        justify-items: center;
        text-align: center;
    }

    #testimonials div section h4{
        font-weight: bold;
        font-size: 35px;
    }

    q::before {
        content: "“";
    }

    q::after {
        content: "”";
    }

    q {
        width: 50%;
        padding-bottom: 20px;
    }

    #about > h3 {
        font-size: 50px;
        margin-left: 20px;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    #about div {
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        padding: 20px;
    }

    #about div section {
        text-align: center;
    }

    #about div section h4{
        padding-top: 10px;
        padding-bottom: 10px;
        font-weight: bold;
    }

    form {
        grid-template-columns: 1fr;
        justify-items: center;
    }

    #nums {
        grid-template-columns: 1fr;
    }

    #names {
        grid-template-columns: 1fr;
    }

    select, #names input, #email, #phone {
        width: 80%;
    }

    #contact h3 {
        text-align: center;
        font-size: 35px;
        padding-top: 20px;
    }

    footer {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 10px;
        text-align: center;
    }
    
    footer p{
        padding-top: 20px;
        padding-bottom: 20px;
    }

    #mySubmit {
        width: 80%;
        align-self: center;
    }

    input[type="radio"]{
        padding: 20px;
        margin: 20px;
    }
}

@media screen and (min-width: 650px){
    header{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        padding-top: 40px;
        padding-bottom: 40px;
        background: linear-gradient(to bottom, var(--teal), var(--white));
    }
    header a{
        grid-column-start: 1 / 1;
        grid-row: 1 / 2;
    }
    header h1 {
        grid-row: 1 / 1;
        grid-column: 2 / -1;
        font-size: 50px;
    }
    header p {
        grid-row: 2 / 2;
        grid-column: 2 / -1;
        font-size: 25px;
        margin-top: -25px;
    }

    header nav {
        grid-row: 3;
        grid-column: 1 / 4;
        gap: 20px;
        align-items: center;
    }

    ul {
        display: flex;
    }
  
    li {
        flex: 1;
        padding: 20px;
    }

    header nav ul a {
        text-decoration: none;
        color: var(--black);
    }

    header nav ul a:hover {
        background-color: var(--yellow);
    }

    header nav ul li {
        background-color: var(--white);
    }

    nav div input, nav div label{
        visibility: hidden;
    }

    header h1, header p {
        margin-left: 20px;
    }

    header nav {
        margin-top: 20px;
    }

    .sr-only {
        position: absolute;
        width: 1px;
        height: 1px;
        padding: 0;
        margin: -1px;
        overflow: hidden;
        clip: rect(0, 0, 0, 0);
        white-space: nowrap;
        border: 0;
    }

    #intro p{
        justify-items: center;
        text-align: left;
        margin-left: 30px;
    }

    h2 {
        margin-left: 30px;
        font-size: 50px;
        padding-bottom: 15px;
    }

    #img-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding-top: 15px;
        gap: 20px;
    }

    #img-grid img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    #img-grid picture {
        padding-bottom: 20px;
        grid-column: 1 / -1;
    }

    #img-grid picture img {
        width: 100%;
    }

    #plan > h3 {
        padding-top: 30px;
        font-size: 50px;
        margin-left: 40px;
        padding-bottom: 5px;
    }

    #plan div {
        grid-template-columns: 1fr 1fr;
        justify-items: center;
        text-align: center;
        gap: 20px;
    }

    #plan div section {
        width: 300px;
        height: 250px;
    }

    #plan div section img {
        width: 200px;
        height: 200px;
    }

    #plan div section:last-of-type {
        margin-bottom: 20px;
    }

    #testimonials > h3 {
        padding-top: 30px;
        font-size: 50px;
        margin-left: 30px;
        padding-bottom: 5px;
    }

    #testimonials div {
        grid-template-columns: 1fr 1fr;
    }

    #testimonials div section {
        grid-template-columns: 1fr;
        justify-items: center;
        text-align: center;
    }

    #testimonials div section h4{
        font-weight: bold;
        font-size: 35px;
    }

    q::before {
        content: "“";
    }

    q::after {
        content: "”";
    }

    q {
        width: 50%;
        padding-bottom: 20px;
    }

    #about > h3 {
        font-size: 50px;
        margin-left: 20px;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    #about div {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 20px;
        padding: 20px;
    }

    #about div section {
        text-align: center;
    }

    #about div section h4{
        padding-top: 10px;
        padding-bottom: 10px;
        font-weight: bold;
    }

    form {
        grid-template-columns: 1fr;
        margin-left: 100px;
    }

    fieldset {
        grid-template-columns: 1fr 1fr 1fr;
    }

    #nums {
        grid-template-columns: 1fr;
    }

    #names {
        grid-template-columns: 1fr;
    }

    select, #names input, #email, #phone {
        width: 80%;
    }

    #contact h3 {
        text-align: center;
        font-size: 35px;
        padding-top: 20px;
    }

    footer {
        grid-template-columns: 1fr 1fr 1fr;
        gap: 10px;
        text-align: center;
        justify-content: center;
    }
    
    footer p, footer a{
        padding-top: 20px;
        padding-bottom: 20px;
    }

    #mySubmit {
        width: 80%;
        align-self: center;
    }

    input[type="radio"]{
        padding: 20px;
        margin: 20px;
    }
}

@media screen and (min-width: 900px){
    header{
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 180px 1fr;
        padding-top: 40px;
        padding-bottom: 40px;
        background: linear-gradient(to bottom, var(--teal), var(--white));
    }

    header a{
        grid-column: 1 / 1;
        grid-row: 2 / 3;
    }

    header h1 {
        grid-column: 2 / 2;
        grid-row: 2 / 2;
        font-size: 50px;
        margin-left: -50px;
        text-align: left;
    }

    header p {
        grid-column: 2 / 2;
        grid-row: 3 / 3;
        font-size: 25px;
    }

    header nav {
        grid-row: 1 / 1;
        grid-column: 2;
        gap: 20px;
        align-items:end;
    }

    ul {
        display: flex;
    }
  
    li {
        flex: 1;
        padding: 20px;
    }

    header nav ul a {
        text-decoration: none;
        color: var(--black);
    }

    header nav ul a:hover {
        background-color: var(--yellow);
    }

    header nav ul li {
        background-color: var(--white);
    }

    nav div input, nav div label{
        visibility: hidden;
    }

    header h1, header p {
        margin-left: 20px;
    }

    header nav {
        margin-top: 20px;
    }

    .sr-only {
        position: absolute;
        width: 1px;
        height: 1px;
        padding: 0;
        margin: -1px;
        overflow: hidden;
        clip: rect(0, 0, 0, 0);
        white-space: nowrap;
        border: 0;
    }

    #intro {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }

    article #intro h2 {
        grid-column: 1 / 1;
        grid-row: 1 / 1;
        align-self: end;
    }

    article #intro p {
        grid-column: 1 / 1;
        grid-row: 2 / 2;
    }



    #intro p{
        text-align: left;
        margin-left: 30px;
    }

    h2 {
        margin-left: 30px;
        font-size: 50px;
        padding-bottom: 15px;
    }

    #img-grid {
        grid-column: 2 / 2;
        grid-row: 1 / -1;
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding-top: 15px;
        gap: 20px;
    }

    #img-grid img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    #img-grid picture {
        padding-bottom: 20px;
        grid-column: 1 / -1;
    }

    #img-grid picture img {
        width: 100%;
    }

    #plan > h3 {
        padding-top: 30px;
        font-size: 50px;
        margin-left: 40px;
        padding-bottom: 5px;
    }

    #plan div {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        justify-items: center;
        text-align: center;
        gap: 20px;
    }

    #plan div section {
        width: 300px;
        height: 250px;
    }

    #plan div section img {
        width: 200px;
        height: 200px;
    }

    #plan div section:last-of-type {
        margin-bottom: 20px;
    }

    #testimonials > h3 {
        padding-top: 30px;
        font-size: 50px;
        margin-left: 30px;
        padding-bottom: 5px;
    }

    #testimonials div {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    #testimonials div section {
        grid-template-columns: 1fr;
        justify-items: center;
        text-align: center;
    }

    #testimonials div section h4{
        font-weight: bold;
        font-size: 35px;
    }

    q::before {
        content: "“";
    }

    q::after {
        content: "”";
    }

    q {
        width: 50%;
        padding-bottom: 20px;
    }

    #about > h3 {
        font-size: 50px;
        margin-left: 20px;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    #about div {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 20px;
        padding: 20px;
    }

    #about div section {
        text-align: center;
    }

    #about div section h4{
        padding-top: 10px;
        padding-bottom: 10px;
        font-weight: bold;
    }

    form {
        grid-template-columns: 1fr 1fr 1fr;
        margin-left: 100px;
    }
    
    fieldset {
        grid-template-columns: 1fr 1fr 1fr;
    }

    select, #names input, #email, #phone {
        width: 80%;
    }

    #contact h3 {
        text-align: center;
        font-size: 35px;
        padding-top: 20px;
    }

    footer {
        grid-template-columns: 1fr 1fr 1fr;
        gap: 10px;
        text-align: center;
        justify-content: center;
    }
    
    footer p, footer a{
        padding-top: 20px;
        padding-bottom: 20px;
    }

    #mySubmit {
        width: 80%;
        align-self: center;
    }

    input[type="radio"]{
        padding: 20px;
        margin: 20px;
    }

    article > section {
        padding: 100px;
    }
}
